zocker_project/Main.zip
zocker_project/src.zip
zocker_project/src1.zip
zocker_project/srcF.zip
config.json
zocker_project/src/OS-Project.zip
zocker_project/src/__pycache__/test_resources.cpython-312.pyc
zocker_project/src/__pycache__/resources.cpython-312.pyc
zocker_project/src/__pycache__/manager.cpython-312.pyc
zocker_project/src/__pycache__/isolation.cpython-312.pyc
zocker_project/src/__pycache__/core_engine.cpython-312.pyc
